.env
.env.*
!.env.example

target/
**/target/

node_modules/
**/node_modules/
.next/
**/.next/
out/
**/out/
dist/
**/dist/

.idea/
*.iml
.classpath
.project
.settings/

.vscode/

*.log
logs/
**/logs/

.DS_Store
Thumbs.db
*.md